/**--- Variables ---**/
* {
  transition: all 250ms ease; }

.section {
  padding: 5em 0; }

.links ul {
  margin: 0;
  list-style-type: none; }

/**--- Fonts ---**/
h1, h3, h4, h5, p, label, button, input, input::-webkit-input-placeholder, li, a {
  font-family: 'Roboto', sans-serif; }
h1, h3, h4, h5, p, label, button, input, input:-ms-input-placeholder, li, a {
  font-family: 'Roboto', sans-serif; }
h1, h3, h4, h5, p, label, button, input, input::placeholder, li, a {
  font-family: 'Roboto', sans-serif; }

h3 {
  font-weight: 300; }

h1 {
  font-size: 41px;
  margin-bottom: 2rem;
  line-height: 47px; }

h4 {
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 2.5rem;
  font-weight: 400; }

.light {
  color: #FFFFFF; }

.dark-blue {
  color: #08304c; }

hr {
  margin: 0; }

/**--- Helpers ---**/
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

.v-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .v-center-stack {
    -ms-flex-direction: column;
        flex-direction: column; }

.heading-divide {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .heading-divide::before, .heading-divide::after {
    content: '';
    height: 1px;
    -ms-flex-positive: 1;
        flex-grow: 1;
    border-bottom: 1px solid #a9abb0; }
  .heading-divide::before {
    margin-right: 1em; }
  .heading-divide::after {
    margin-left: 1em; }

/**--- Components ---**/
.btn {
  padding: 0.5em 2em;
  border: 1px solid;
  border-radius: 3px; }
  .btn-solid {
    color: #FFFFFF; }
    .btn-solid--green {
      background: #16a956;
      border-color: #16a956; }

/**--- Forms ---**/
.form input,
.form select,
.form textarea {
  border-radius: 0.25em; }

.form input[type='text'] {
  width: 100%; }

.form .heavy label {
  font-weight: 500; }

.form .heavy div {
  margin-bottom: 0.25em; }

.section-form {
  background-color: #f7f7f7; }
  @media screen and (min-width: 64em) {
    .section-form .content-wrap {
      width: 80%; } }
  .section-form .row {
    padding-bottom: 1em; }
  .section-form .btn {
    width: 100%;
    padding: 10px 0; }
  .section-form h1 {
    padding-top: 1em;
    margin-bottom: 0;
    color: #2B303B; }
  .section-form h3 {
    padding: 0.5em 0; }
  .section-form h3,
  .section-form p,
  .section-form li {
    color: rgba(0, 0, 0, 0.7); }
  .section-form label {
    color: rgba(0, 0, 0, 0.7); }
  .section-form .heading-divide {
    text-transform: uppercase;
    font-weight: 500;
    padding: 3em 0 1em 0; }
  .section-form .partner-logos {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
    @media screen and (min-width: 40em) {
      .section-form .partner-logos {
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: justify;
            justify-content: space-between; } }
    .section-form .partner-logos img {
      padding: 1.5em; }
      @media screen and (min-width: 40em) {
        .section-form .partner-logos img {
          padding: 0;
          max-width: 70px; } }
      @media screen and (min-width: 40em) {
        .section-form .partner-logos img {
          padding: 0;
          max-width: 50px; } }
  .section-form .form .phone input {
    margin-bottom: 0 !important; }
  .section-form .form .phone .byline {
    font-size: 13px;
    color: #a9abb0; }
  .section-form .form .phone .area-code {
    position: relative; }
    .section-form .form .phone .area-code:after {
      position: absolute;
      display: block;
      content: " - ";
      top: 40%;
      right: -0.25rem; }

/**--- Header ---**/
header {
  background-color: #08304c; }
  header .links a {
    text-transform: uppercase;
    font-size: 13px; }
  header .links .btn {
    margin: 1em;
    color: #FFFFFF !important;
    width: 12em;
    text-align: center; }
    @media screen and (min-width: 64em) {
      header .links .btn {
        margin: 0 0 0 1em;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content; } }
    header .links .btn-enterprise {
      border: 1px solid #a9abb0; }
    header .links .btn-install {
      background-color: #023f6b;
      border: 1px solid #023f6b; }

.secondary-links-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  @media screen and (min-width: 64em) {
    .secondary-links-wrapper {
      -ms-flex-direction: row;
          flex-direction: row; } }
  .secondary-links-wrapper p {
    padding-top: 2em; }
    @media screen and (min-width: 64em) {
      .secondary-links-wrapper p {
        padding-top: 1.5em; } }
  .secondary-links-wrapper ul {
    padding: 1.5em 0; }
    @media screen and (min-width: 64em) {
      .secondary-links-wrapper ul {
        padding: 1.5rem 0; } }
  .secondary-links-wrapper p {
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 500; }
    @media screen and (min-width: 64em) {
      .secondary-links-wrapper p {
        margin-right: auto; } }
  .secondary-links-wrapper ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column; }
    @media screen and (min-width: 40em) {
      .secondary-links-wrapper ul {
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
    .secondary-links-wrapper ul li {
      font-size: 15px;
      padding: 0.5em 0; }
      @media screen and (min-width: 64em) {
        .secondary-links-wrapper ul li {
          padding: 0 .5rem; } }
      .secondary-links-wrapper ul li a {
        color: #4c4c4c; }

.menuIcon {
  width: 25px;
  height: 22px;
  cursor: pointer; }
  .menuIcon .bar,
  .menuIcon .bar:after,
  .menuIcon .bar:before {
    width: 25px;
    height: 2px; }
  .menuIcon .bar {
    position: relative;
    transform: translateY(10px);
    background: white;
    transition: all 0ms 300ms; }
    .menuIcon .bar:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 10px;
      background: white;
      transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
    .menuIcon .bar:after {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      background: white;
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
    .menuIcon .bar.animate {
      background: rgba(255, 255, 255, 0); }
      .menuIcon .bar.animate:after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
      .menuIcon .bar.animate:before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.title-bar {
  display: none;
  height: 76px;
  -ms-flex-align: center;
      align-items: center;
  background: #08304c; }
  .title-bar img {
    margin-right: auto; }

.top-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 76px;
  background-color: #08304c; }
  .top-bar .top-bar-left {
    margin-right: auto; }
  .top-bar .top-bar-right {
    z-index: 10; }
    .top-bar .top-bar-right .menu {
      background: #08304c;
      padding-bottom: 2em; }
      @media screen and (min-width: 64em) {
        .top-bar .top-bar-right .menu {
          padding-bottom: 0; } }
      .top-bar .top-bar-right .menu li > a {
        color: rgba(255, 255, 255, 0.6); }
        .top-bar .top-bar-right .menu li > a:hover {
          color: white;
          font-weight: 500; }

/* medium down  */
@media screen and (max-width: 1000px) {
  .title-bar {
    display: -ms-flexbox;
    display: flex; }
  .top-bar {
    display: none; }
    .top-bar .menu-text {
      display: none; }
    .top-bar .menu li {
      display: block; }
    .top-bar.open {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      padding: 0; }
      .top-bar.open .top-bar-right {
        width: 100%; } }

/**--- Hero ---**/
.section-hero h1 {
  color: #004B80;
  font-weight: 300; }
  .section-hero h1 .strong {
    font-weight: 400; }

.section-hero h3 {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 2em; }

.section-hero .v-center {
  -ms-flex-direction: column;
      flex-direction: column; }
  @media screen and (min-width: 40em) {
    .section-hero .v-center {
      -ms-flex-direction: row;
          flex-direction: row; } }

.section-hero .btn {
  width: 14em;
  text-align: center; }
  @media screen and (min-width: 40em) {
    .section-hero .btn {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content; } }

.section-hero .btn-solid {
  margin: 1rem 0; }
  @media screen and (min-width: 40em) {
    .section-hero .btn-solid {
      margin: 0 1rem 1rem 0; } }
  .section-hero .btn-solid:hover {
    color: #FFFFFF; }

.section-hero .btn-clear {
  color: #16a956;
  border-color: #16a956;
  margin-bottom: 1rem; }
  .section-hero .btn-clear:hover {
    background-color: #16a956;
    color: #FFFFFF; }

.section-hero .building-wrap {
  margin-bottom: 4rem; }

.section-hero p {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 1rem; }

.section-hero .partner-logos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  @media screen and (min-width: 64em) {
    .section-hero .partner-logos {
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: justify;
          justify-content: space-between; } }
  .section-hero .partner-logos img {
    padding: 1em 0; }
    @media screen and (min-width: 64em) {
      .section-hero .partner-logos img {
        padding: 1.5em 0 0 0; } }

/**--- Enterprise ---**/
.section-enterprise {
  background-image: url("../images/bg-gradient.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .section-enterprise h1 {
    color: #FFFFFF; }
  .section-enterprise h4 {
    color: #a9abb0; }
  .section-enterprise svg {
    max-width: 100%; }

.footer h5 {
  color: #062F4D;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 1.75em; }
  @media screen and (min-width: 64em) {
    .footer h5 {
      padding-top: 0; } }

.footer h5,
.footer p,
.footer a,
.footer li {
  font-size: 15px; }

.footer hr {
  margin: 0; }

.footer-top {
  padding: 2em 0; }
  .footer-top li {
    padding-top: 1rem; }
  .footer-top a,
  .footer-top p {
    color: rgba(0, 0, 0, 0.7); }
  @media screen and (min-width: 64em) {
    .footer-top .form-newsletter input {
      margin: 1.5em 0 0.5em 0; } }
  .footer-top .form-newsletter p {
    display: inline; }

.footer-bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 1.5em 0;
  -ms-flex-direction: column;
      flex-direction: column; }
  @media screen and (min-width: 64em) {
    .footer-bottom {
      -ms-flex-direction: row;
          flex-direction: row; } }
  .footer-bottom ul, .footer-bottom li {
    display: inline-block; }
  .footer-bottom h5 {
    margin-bottom: 0; }
  .footer-bottom .bullet {
    height: 3px;
    width: 3px;
    border-radius: 100%;
    margin: 0 0.5rem;
    background-color: #a9abb0; }
  .footer-bottom .legal,
  .footer-bottom .social-icons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .footer-bottom .legal {
    -ms-flex-pack: center;
        justify-content: center; }
    @media screen and (min-width: 64em) {
      .footer-bottom .legal {
        -ms-flex-pack: start;
            justify-content: flex-start; } }
    .footer-bottom .legal .copyright {
      color: rgba(0, 0, 0, 0.7);
      padding-right: 2rem; }
    .footer-bottom .legal h5 {
      padding: 0; }
  .footer-bottom .kong-walker {
    padding: 2em 0; }
    @media screen and (min-width: 64em) {
      .footer-bottom .kong-walker {
        padding: 0; } }
  .footer-bottom .social-icons {
    -ms-flex-pack: center;
        justify-content: center; }
    @media screen and (min-width: 64em) {
      .footer-bottom .social-icons {
        -ms-flex-pack: end;
            justify-content: flex-end; } }
    .footer-bottom .social-icons li {
      margin: 0 0.5rem; }
