.footer {
  h5 {
    color: $darkestBlue;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 1.75em;
    @media screen and (min-width: 64em) {
      padding-top: 0;
    }
  }
  h5,
  p,
  a,
  li {
    font-size: 15px;
  }
  hr { margin: 0; }
}

.footer-top {
  padding: 2em 0;
  li {
    padding-top: 1rem;
  }
  a,
  p {
    color: rgba(0, 0, 0, 0.7);

  }
  .form-newsletter {
    input {
      @media screen and (min-width: 64em) {
        margin: 1.5em 0 0.5em 0;
      }
    }
    p {
      display: inline;
    }
  }
}

.footer-bottom {
  display: flex;
  align-items: center;
  padding: 1.5em 0;
  flex-direction: column;
  @media screen and (min-width: 64em) {
    flex-direction: row;
  }
  ul, li {
    display: inline-block;
  }
  h5 {
    margin-bottom: 0;
  }
  .bullet {
    height: 3px;
    width: 3px;
    border-radius: 100%;
    margin: 0 0.5rem;
    background-color: $lightGray;
  }
  .legal,
  .social-icons {
    display: flex;
    align-items: center;
  }
  .legal {
    justify-content: center;
    @media screen and (min-width: 64em) {
      justify-content: flex-start;
    }
    .copyright {
      color: rgba(0, 0, 0, 0.7);
      padding-right: 2rem;
    }
    h5 {
      padding: 0;
    }
  }
  .kong-walker {
    padding: 2em 0;
    @media screen and (min-width: 64em) {
      padding: 0;
    }
  }
  .social-icons {
    justify-content: center;
    @media screen and (min-width: 64em) {
      justify-content: flex-end;
    }
    li {
      margin: 0 0.5rem;
    }
  }
}
